body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merryweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5rem; /*R in em dice que ignores todos los otros font-size de los parents como BODY
  eso es CSS3 si no se agrega la R  entonces se sumaria el font-size del body + h1*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Monserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Monserrat', sans-serif;
}
p{
  line-height: 2; /*line-height: 2;  make text space out between words*/
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
    font-family: 'Monserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none; /*remove the underlineof the link*/
}
a:hover{
  color: #EAF6F6;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  /* change position to relative so the botton-cloud item location
  can be re-located and add width and height*/
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;  /*set margin = auto so is center in 4 sides, otherwise it will pushed to all the way left*/
  text-align: left; /*make all the text insidethis div class move left and will overwrite the text-aligng=center in the body*/
  /*line-height: 2;  make text space out between words*/
}

.pro {
  text-decoration: underline;
}
.intro{
  width: 30%;
  margin: auto; /* marhin = auto move and center the paraghraph*/
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 50px;
  top: 200px;


}
.profile{
    border-radius: 50%;
    width: 15%;
    margin-right: 30px;
}
.code-img{
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.safe-img{
    width: 25%;
    float: left; /*make image move to left and the text on the side with some margen space*/
    margin-right: 30px;
}
.office-img{
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.copywrite{
  color: EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
/*.code-skill-description{
  clear: left;
}      only use FLOAT when is only necessary just for wripping text around an image and do not use it for positioning*/
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Monserrat', sans-serif;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
